.tabs-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
    gap: 10px;
    margin-bottom: 30px;
}

.tabs {
    display: flex;
    gap: 14px;

    @media (max-width:490px) {
        flex-direction: column;
        gap: 10px;
    }
}

.tab-button {
    padding: 8px 20px;

    font-size: 18px;
    border-radius: 5px;
    background: var(--default-background-component);
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
    color: var(--default-color);
    transition: all 0.3s ease-in-out;
    flex-shrink: 0;


    &:hover,
    &.active {
        background: $main-color;
        color: #fff;
    }

    @media (max-width:490px) {
        padding: 6px 18px;
        font-size: 18px;
    }
}

.tab-cancel {
    padding: 10px 24px;

    font-size: 18px;
    color: var(--default-color);
    border-radius: 5px;
    background: var(--default-background-component);
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);

    transition: all 0.3s ease-in-out;

    &:hover {
        background: $main-color;
        color: #fff;
    }

    @media (max-width:490px) {
        padding: 6px 18px;
        font-size: 18px;
    }
}

.days {
    display: flex;
    gap: 20px;
    align-items: center;

    position: relative;
    padding: 18px;
    margin-bottom: 30px;

    background-color: var(--default-background-component);
    border-radius: 20px 20px 10px 10px;
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);

    @media (max-width:1080px) {
        overflow-x: scroll;
    }
}

.day {
    flex: 1 0 auto;
    padding: 20px;

    border-radius: 10px;
    background: var(--default-background-day);
    transition: transform 0.3s;
    cursor: pointer;

    & .day-name {
        color: var(--default-color);
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    & .day-date {
        color: #939CB0;
        font-size: 14px;
        margin-bottom: 12px;
    }

    & .day-img {
        width: 144px;
        height: 144px;
        padding: 12px;
        flex-shrink: 0;
    }

    & .day-tempDay {
        color: var(--default-color);
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 6px;
    }

    & .day-tempNight {
        color: #939CB0;
        font-size: 13px;
        margin-bottom: 6px;

    }

    & .day-info {
        color: #939CB0;
        font-size: 13px;
    }

    &:hover {
        transform: scale(1.02);
    }
}

.link {
    padding: 8px 16px;
    color: $main-color;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    background: var(--default-background-day);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;

    &:hover {
        background: $main-color;
        color: #fff;
    }

    @media (max-width:490px) {
        max-height: 44px;
        font-size: 20px;
    }
}