.header {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-decoration: none;
    display: flex;
    gap: 20px;
    align-items: center;

    @media (max-width:420px) {
        width: 50px;
        height: 50px;
    }
}

.logo span {
    color: $main-color;
    font-size: 25px;
    text-transform: uppercase;

    @media (max-width:560px) {
        display: none;
    }
}

.select {
    display: flex;
    gap: 20px;

    @media (max-width:420px) {
        gap: 10px;

    }

    & img {
        cursor: pointer;
    }
}