.notFound {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 20%;
    font-size: 32px;
    gap: 32px;
    color: var(--default-color);
    & a {
        text-decoration: none;
         font-size: 64px;


    }
}