.oneDayDetailed {
    padding: 20px;
    color: var(--default-color);
    background-color: var(--default-background-component);
    border-radius: 15px;
    border: 1px solid $gray;
    text-align: center;

    &Wrapper {
        overflow-x: scroll;
        display: flex;
        gap: 16px;
    }

    & .item {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px;

        border-radius: 4px;
        text-align: center;
    }

    & .image {
        width: 96px;
        height: 96px;
        margin-bottom: 20px;
        padding: 8px;
    }

    & .temp {
        font-size: 32px;
        line-height: 50%;
        margin-bottom: 8px;
    }

    & .time {
        color: $gray;
        font-size: 20px;
        margin-bottom: 10px;
    }

    & .desc {
        margin-bottom: 8px;
    }

    & .wind {
        color: $gray;
    }

    & .pop {
        margin-bottom: 6px;
        color: $gray;
    }
}