.oneDayDetailed {
    &Wrapper {
        display: flex;
        gap: 16px;
    }
    overflow-x: scroll;
    border-radius: 15px;
    padding: 20px;
    background-color: var(--default-background-component);
    color: var(--default-color);
    border: 1px solid $gray;
    &Pre {
        color: var(--default-color);
    }
    & .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px;
        border-radius: 4px;
        text-align: center;
        flex: 1 0 auto;
        max-width: 150px;
    }

    & .image {
        width: 96px;
        height: 96px;
        margin-bottom: 20px;
        padding: 8px;
    }
    & .temp {
        font-size: 32px;
        margin-bottom: 8px;
        line-height: 50%;
    }
    & .time {
        color: $gray;
        margin-bottom: 10px;
        font-size: 20px;
    }
    & .desc {
        margin-bottom: 8px;
    }
    & .wind {
        color: $gray;
    }
}