.tabs-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
    gap: 10px;
    margin-bottom: 30px;
}

.tabs {
    display: flex;
    gap: 14px;

    @media (max-width:490px) {
        flex-direction: column;
        gap: 10px;
    }
}

.tab-button {
    padding: 8px 20px;

    font-size: 18px;
    border-radius: 5px;
    background: var(--default-background-component);
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
    color: var(--default-color);
    transition: all 0.3s ease-in-out;
    flex-shrink: 0;


    &:hover,
    &.active {
        background: $main-color;
        color: #fff;
    }

    @media (max-width:490px) {
        padding: 6px 18px;
        font-size: 18px;
    }
}

.tab-cancel {
    padding: 10px 24px;
    font-size: 18px;
    color: var(--default-color);
    border-radius: 5px;
    background: var(--default-background-component);
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);

    transition: all 0.3s ease-in-out;

    &:hover {
        background: $main-color;
        color: #fff;
    }

    @media (max-width:490px) {
        padding: 6px 18px;
        font-size: 18px;
    }
}


.link {
    padding: 8px 16px;
    color: $main-color;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    background: var(--default-background-day);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;

    &:hover {
        background: $main-color;
        color: #fff;
    }

    @media (max-width:490px) {
        max-height: 44px;
        font-size: 20px;
    }
}