.thisDay {
    width: 100%;
    padding: 20px;
    max-width: 400px;

    border-radius: 20px;
    background: var(--default-background-component);
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
}

.thisDay-header {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
    margin-bottom: 30px;
}

.thisDay-header img {
    width: 96px;
    height: 96px;
}

.thisDay-info span {
    color: $main-color;
    font-size: 96px;
    font-weight: 500;

    @media (max-width:480px) {
        font-size: 80px;
    }
}

.thisDay-info p {
    color: var(--default-color);
    font-size: 40px;
    font-weight: 400;
}

.thisDay-time {
    color: $gray;
    font-size: 25px;
    margin-bottom: 14px;
}

.thisDay-city {
    color: $gray;
    font-size: 25px;
}