.thisDayInfo {
    width: 100%;
    border-radius: 20px;
    background: var(--default-background-component);
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
    max-width: 750px;
    position: relative;
    @media (max-width:991px) {
        max-width: 100%;
    }
    & ul {
        padding: 40px 0px 40px 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    & li {
        display: flex;
        align-items: center;
        gap: 20px;
        @media (max-width:600px) {
            flex-direction: column;
            gap: 5px;
            text-align: center;
        }
    }
    

    & .icon {
        padding: 8px;
        width: 38px;
        height: 38px;
        background-color: $white;
        border-radius: 100%;
        flex-shrink: 0;
    }
    & .label {
        color: #939CB0;
        font-size: 14px;
        flex: 1;
        position: relative;
        z-index: 2;
    }
    & .info {
        color: var(--default-color);
        font-size: 14px;
        flex: 1 0 50%;
        position: relative;
        z-index: 2;
    }
    & .background {
        position: absolute;
        top: 0;
        right: 0;
        @media (max-width:600px) {
            display: none;
            }
    }
    
}
