$main-color: #4793FF;
$gray: #939CB0;
$white: #fff;

// < variables for dark/light theme >
$light-color: #000;
$dark-color: #fff;

$dark-background-component: #4F4F4F;
$light-background-component: #fff;

$dark-background-day: #2E3035;
$light-background-day: #4793FF33;

$dark-background-body: #0D1117;
$light-background-body: #fff;

$dark-background-shadow-scroll: #888888;
$light-background-shadow-scroll: #dadada;

// </ variables for dark/light theme />
:root {
    // text
    --light-color: #{$light-color};
    --dark-color: #{$dark-color};
    --default-color: var(#{--dark-color});

    // background of components
    --light-background-component: #{$light-background-component};
    --dark-background-component: #{$dark-background-component};
    --default-background-component: var(#{--dark-background-component});

    // scrollbar and shadow 
    --light-background-shadow-scroll: #{$light-background-shadow-scroll};
    --dark-background-shadow-scroll: #{$dark-background-shadow-scroll};
    --default-background-shadow-scroll: var(#{--dark-background-shadow-scroll});

    // background of cards
    --light-background-day: #{$light-background-day};
    --dark-background-day: #{$dark-background-day};
    --default-background-day: var(#{--dark-background-day});

    // background of body
    --light-background-body: #{$light-background-body};
    --dark-background-body: #{$dark-background-body};
    --default-background-body: var(#{--dark-background-body});
}